.card_h2{
    font-size: 16px;
    font-weight: bold;
    background-color: #007bff;
    color: #fff;
    padding: 10px 10px;
    margin-top: 10px;
    margin-bottom:15px;
}


table.dataTable > tbody > tr.child ul.dtr-details{
    width: 100%!important;
    display: block!important;
}

table.dataTable > tbody > tr.child ul.dtr-details > li{
    float: right;
    width: 100%!important;
    display: block!important;
}

table.dataTable > tbody > tr.child span.dtr-title {
    float: right;
    width: 50%;
    text-align: right;
    background-color: red;
    font-weight: bold;
}

table.dataTable > tbody > tr.child ul.dtr-details {
    float: right;
    width: 50%;
    text-align: right;
    background-color:yellow;
    font-weight: bold;
}

