
.test_bg {
    background-color: red;
}

.def_breadcrumb_h1 {
    font-size: 20px !important;
    margin-bottom: 5px !important;
    padding-top: 5px;
}

.but_icon i {
    font-size: 12px;
    line-height: 22px;
}

@media (max-width: 480px) {
    .def_breadcrumb_h1 {
        font-size: 17px !important;
    }
}


.admin_err_list {
    list-style: none;
    padding: 8px !important;
}

.admin_err_list li {
    font-size: 14px;
}


.adminCard .card-outline .card-title {
    color: var(--cardColor);
}


.adminCard {
}

.adminCard .card-body {
    padding-top: 10px;
}

.adminCard .card-header {
    padding: 10px 15px !important;
}

.adminCard .card-title {
    font-weight: bold;
    font-size: 16px;
}

@media (max-width: 480px) {
    .adminCard .card-title {
        font-size: 15px;
    }

    .adminCard .card-header {
        padding: 10px 15px !important;
        line-height: 22px;
        padding-bottom: 4px !important;
    }

}


.Filter_Form_Style {
    padding: 0 !important;
    margin: 0 !important;
}

.Filter_Form_Style .def_form_label {
    font-size: 14px !important;
    margin-bottom: 0 !important;
    padding-top: 0 !important;
    padding-bottom: 5px;
    font-weight: 700 !important;
    color: rgba(0, 0, 0, .8) !important;
    width: 100%;
}

.Filter_Form_Style .form-group {
    margin-bottom: 1rem;
}

@media (max-width: 480px) {
    .Filter_Form_Style .def_form_label {
        margin-top: -5px !important;
        padding-top: 0 !important;
        padding-bottom: 5px !important;
        font-size: 12px !important;
        line-height: 15px;
    }

    .Filter_Form_Style .form-group {
        margin-bottom: .5rem;
    }
}


@media (max-width: 480px) {
    .adminButMobile i {
        line-height: 22px !important;
    }

    .adminButMobile {
        padding-top: 5px !important;
        padding-bottom: 3px !important;
        line-height: 20px !important;
    }

    .select2-container--default[dir="rtl"] .select2-selection--single .select2-selection__rendered {
        font-size: 14px;

    }

    .select2-container--default .select2-selection--single .select2-selection__rendered {
        margin-top: 0 !important;
        line-height: 28px !important;
    }

    div.dataTables_wrapper div.dataTables_filter {
        text-align: right !important;
    }

}

@media (max-width: 480px) {
    div.dataTables_wrapper div.dataTables_filter input {
        width: 340px !important;
    }
}


@media (max-width: 380px) {
    div.dataTables_wrapper div.dataTables_filter input {
        width: 280px !important;
    }
}


.mainForm_NewBox {
}

.mainForm_NewBox .alert-dismissible {
    padding: 8px 20px !important;
    font-size: 13px !important;
    margin-bottom: 5px !important;
    display: block;
}

.mainForm_NewBox .alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
    margin-bottom: 20px !important;
}

.mainForm_NewBox .alert {
    margin-bottom: 20px !important;
}

.mainForm_NewBox .form-group {
    margin-bottom: 10px !important;
}

.mainForm_NewBox .def_form_label {
    font-size: 13px !important;
    margin-bottom: 0 !important;
    padding-top: 2px;
    padding-bottom: 5px;
    font-weight: 700 !important;
    color: rgba(0, 0, 0, .8) !important;
    width: 100%
}
.mainForm_NewBox .box_form {
    clear: both !important;
    padding: 10px 15px;
    padding-bottom: 30px;
    padding-top: 0px;
    border: 1px solid rgba(0, 0, 0, .1);
    margin-bottom: 40px;
}
.mainForm_NewBox .box_title {
    position: relative;
    display: inline-block;
    font-weight: normal;
    top: -15px !important;
    padding: 4px 25px;
    border-radius: 4px;

    margin-bottom: 0 !important;
    border: 1px solid #007bff;
    min-width: 200px !important;
    background-color: #007bff;
    color: #fff;
}
@media (max-width: 480px) {
    .mainForm_NewBox .box_title {
        line-height: 25px;

    }
}





