/*
.year {
    position: relative;
    display: inline-block;
    font-weight: normal;

    padding: 3px 8px;
    border-radius: 4px;
    margin-bottom: 0 !important;
    border: 1px solid #007bff;

    background-color: #007bff;
    color: #fff;
}

.filter_box_total .info-box-icon i{
    font-size: 50px;
}



.filter_box_total .info-box-text{
    font-size: 18px;

}
.filter_box_total .info-box-number{
    font-size: 25px;
    line-height: 25px;

}

.phone_number{
    direction: ltr!important;
    font-weight: bold;
    font-size: 16px;
}


.error_mass{font-size: 80%;color: #dc3545;}

tbody > tr > td:last-of-type {
    padding-right: 10px!important;
}

.TableIcon{font-size:20px}



.def_card_header .card-title{font-size:16px!important;font-weight:700!important;line-height:30px}






div.dataTables_wrapper div.dataTables_filter input {
    width: 350px;
}

.btn_app_new {
    border-radius: 3px;
    background-color: #f8f9fa;
    border: 0px solid #ddd;
    color: #6c757d;
    font-size: 12px;
    height: 55px;
    margin: 0 0 10px 10px;
    min-width: 55px;
    padding: 15px 5px;
    position: relative;
    text-align: center;
}

.btn_app_new > .badge {
    font-size: 12px;
    font-weight:normal!important;
    min-width:20px;

}





.leadInfo .row{
    margin-bottom: 5px;
}

.leadInfo .title{
    font-weight: bold;
    color: red;
    font-size: 16px;
}

.leadInfo .des{
    margin-bottom: 5px;
    font-size: 16px;
}

.leadInfo .des img{
    width: 30px;
}

.mainForm_New{
    padding: 25px 15px;
    border: 1px solid rgba(0,0,0,.1);
}

.mainForm_New .form_title{
    position: absolute;
    font-weight: normal;
    top:-15px;
    padding:2px 25px;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.1);

}
.mainForm_New .form-group{
    margin-bottom: 10px!important;
}


.mainForm_New .def_form_label{
    font-size:13px!important;
    margin-bottom:0!important;
    padding-top:2px;
    padding-bottom:5px;
    font-weight:700!important;
    color:rgba(0,0,0,.8)!important;
    width:100%
}

.mainForm_New .alert-dismissible {
    padding: 8px 20px!important;
    font-size: 13px !important;
    margin-bottom: 5px!important;
}
.mainForm_New .alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}



.LangLine{
    float: right;
    width: 100%;
    height: 2px;
    margin-top: 10px;
    margin-bottom: 30px;
    background-color: rgba(0, 0, 0, .2);
}

.LangHeader{
    display: block;
    width: 100%;
    margin-bottom: 15px;
    color: #ffffff;
    background-color: rgba(0, 0, 0, .6);
    border-radius: 5px;
    padding: 8px 20px;
}

 */
