
.CustSearchForm .form-group {
    margin-bottom: 10px !important;
}
.h2_info {
    width: 100%;
    color: #ffffff;
    background-color: #494d4d;
    border-color: #494d4d;
    padding: 10px 12px;
    margin-bottom: 20px;
    margin-top: 20px;
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-radius: 3px;
    font-size: 16px;
    line-height: 23px;
}

@media (max-width: 480px) {
    .InfoViewList .infoDiv_icon .des {
        font-size: 14px;
        font-weight: bold;
    }

    .InfoViewList .infoDiv .des {

        font-size: 15px;
        font-weight: bold;
        line-height: 28px

    }
    .InfoViewList .h2_info.des {
        font-size: 12px;
    }


    .InfoViewList .infoDiv_icon .des {

       margin-bottom: 0!important;


    }
}







.InfoViewList .h2_info {
    font-size: 16px;
    background-color: rgba(0, 123, 255, .7)!important;
}

.InfoViewList .h2_info.des {
    font-size: 14px;
}

.InfoViewList .infoDiv_icon {
    margin-bottom: 13px;

}

.InfoViewList .infoDiv_icon .des {
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 5px;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    color: rgba(102, 102, 102, .8);
    text-align: right!important;

}

.InfoViewList .infoDiv_icon i {
    color: rgba(204, 24, 30, .7);
}

.InfoViewList .infoDiv {

}

.InfoViewList .infoDiv .des {
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 5px;

    color: rgba(102, 102, 102, .8);

}

.InfoViewList .infoDiv .title {

    font-size: 14px;
    font-weight: bold;
    padding-bottom: 3px;
    margin-bottom: 3px;

    color: rgba(204, 24, 30, .7);
    border-bottom: 1px solid rgba(0, 0, 0, .1);

}

.InfoViewList .infoDiv .title i {

    color: rgba(204, 24, 30, .7);
    font-size: 15px;

}


